html, body {
    background: #E7E7E7;
}
.list_style{
    padding: 12px 10px;
    height: 150px;
    background: #ffffff;
    margin-top:0px;
    margin-bottom: 10px;
}
.managerlead{
    font-size: 12px;
    line-height: 20px;
    overflow: hidden;
    height: auto;
    height: 50px;
    margin: 4px 0 6px;
    text-align: justify;
    text-justify: inter-ideograph;
    word-break: initial;
    color: #6a6a6a;
}
.createInfo{
    font-size: 13px;
    line-height: 20px;
    color: #9d9d9d;
    overflow: hidden;
    height: 30px;
    margin: 4px 0 6px;
    text-align: justify;
    text-justify: inter-ideograph;
    word-break: initial;
}
.numberbook{
    text-align: center;
}
.pull-left{
    text-align: left;
}