html, body {
    background: #E7E7E7;
}

.container {
    padding-top: 80px
}

.modal-content {
    top: 80px;
}

pre {
    background-color: #efefef;
    padding: 10px 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}