<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.notebook.dao.ShortNoteDao">
    <insert id="insertShort" parameterType="ShortNote">
        INSERT INTO notebook.short_note(sid, uid,is_public, note_content) VALUES
        (#{sid},#{uid},#{isPublic},#{noteContent})
        <selectKey keyProperty="sid" resultType="java.lang.String"
                   order="BEFORE">
            select uuid() from dual
        </selectKey>
    </insert>
    <select id="queryShortByUid" resultType="ShortNote">
        SELECT
        *
        FROM notebook.short_note
        WHERE uid=#{uid}
        ORDER BY create_time DESC
        LIMIT #{offset}, #{limit}
    </select>
    <delete id="deleteShort">
        DELETE FROM notebook.short_note WHERE sid=#{sid}
    </delete>
    <update id="updateShort" parameterType="com.notebook.entity.ShortNote">
        UPDATE notebook.short_note SET  note_content=#{noteContent},is_public = #{isPublic} WHERE sid=#{sid}
    </update>
    <update id="addLikeNumber">
        UPDATE notebook.short_note SET  like_number=like_number+1 WHERE sid=#{sid}
    </update>
    <select id="getPublicNote" resultType="ShortNote">
        SELECT
        a.*,b.nick_name as 'nickName'
        FROM notebook.short_note a,user b
        WHERE is_public="1"
        AND a.uid=b.uid
        ORDER BY create_time DESC
        LIMIT #{offset}, #{limit}
    </select>
</mapper>
